@use 'variables' as *;


.fondoNav {
    background-color: $violet;
    padding: 10px 0;

.navbar-nav {
    margin-left: auto;
    }

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    }

.navbar-toggler {
    background-color: $white;
    }

.colorenlace {
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        color: $accent;
        }
    }
}
