@use 'variables' as *;

.productosdestacados {
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 30px;

    &:hover {
    transform: translateY(-5px);
    box-shadow: $shadow-hover;
    }
}

.productosdestacadosfondo {
    background-color: $gray-light;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: $shadow-light;
}

.productosdestacadostitulo,
.suscripcion,
.productos {
    background-color: $black;
    color: $white;
    padding: 10px;
}

.card-title {
    font-weight: bold;
    text-align: center;
}

.card-text {
    text-align: center;
    color: $text-muted;
}

.btn-primary {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.titulos {
    font-size: 48px;
    font-weight: bold;
    margin: 40px 0;
    color: $gray-dark;
    letter-spacing: 2px;
}