.productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;

article {
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

    img {
        max-width: 100%;
        height: auto;
        border-radius: 6px;
        }
}

@media (max-width: 768px) {
    grid-template-columns: 1fr;
    }
}