@use '../abstracts/variables' as *;

.fondoNav {
    background-color: $nav-bg;
    padding: 10px 0;

    .navbar-nav {
    margin-left: auto;
    }

    .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    }

    .navbar-toggler {
    background-color: #ffffff;
    }

    .colorenlace {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        color: $accent-color;
        }
    }
}

.logo-navbar {
    max-height: 30px;
}