@use '../abstracts/variables' as *;

.titulos {
    font-size: 48px;
    font-weight: bold;
    margin: 40px 0;
    color: $title-color;
    letter-spacing: 2px;
}

.tituloquienessomos {
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0;
    color: $title-color;
    letter-spacing: 2px;
    line-height: 1.1;
}